/* styles.css */
.bg-gradient-animate {
    background-image: linear-gradient(45deg, #ebf8ff, #d1adf4, #9092ef);
    background-size: 100% 100%;
    height: 100vh;
    animation: gradientRotation 10s linear infinite;
    z-index: -1; /* Ensure that the background stays behind the content */
}

@keyframes gradientRotation {
}
